@font-face {
  font-family: mont_light;
  src: url(../Font/montserrat/Montserrat-Light.otf);
}

@font-face {
  font-family: mont_ultra_light;
  src: url(../Font/montserrat/Montserrat-UltraLight.otf);
}

@font-face {
  font-family: mont_regular;
  src: url(../Font/montserrat/Montserrat-Regular.otf);
}

@font-face {
  font-family: mont_bold;
  src: url(../Font/montserrat/Montserrat-Bold.otf);
}

@font-face {
  font-family: mont_extra_bold;
  src: url(../Font/montserrat/Montserrat-ExtraBold.otf);
}

@font-face {
  font-family: mont_semi_bold;
  src: url(../Font/montserrat/Montserrat-SemiBold.otf);
}

@font-face {
  font-family: mont_black;
  src: url(../Font/montserrat/Montserrat-Black.otf);
}

@font-face {
  font-family: mont_hairline;
  src: url(../Font/montserrat/Montserrat-Hairline.otf);
}

@font-face {
  font-family: mont_thin;
  src: url(../Font/montserrat/Montserrat-Thin.ttf);
}

@font-face {
  font-family: times;
  src: url(../Font/times/times.ttf);
}

* {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/******************Header*************************/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.top-main {
  background-color: #d7b058;
  height: 50px;
}

.top-main .container {
  height: 100%;
}

.top-main .container .wrapper-inner {
  height: 100%;
}

.top-main .container .social p {
  font-size: 20px;
  color: #3e3e3e;
  font-family: mont_semi_bold;
  text-transform: uppercase;
}

.top-main .container .social a {
  margin: 0px 5px;
}

.top-main .container .social .donate {
  background-color: #004c99;
  font-family: times;
  color: #ffffff;
  font-size: 24px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 27%;
  border-bottom-right-radius: 27%;
  position: relative;
  top: -5px;
}

.menu_bar {
  background-color: #ab3535;
  height: 80px;
}

.menu_bar .container {
  height: 100%;
}

.menu_bar .container .bar-inner {
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu_bar .container .bar-inner .btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px 5px;
  color: #ffffff;
}

.menu_bar .container .bar-inner .drop-btn {
  font-size: 40px;
  padding: 0px;
}

.menu_bar .container .bar-inner .search-bar {
  background-color: #ffffff;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  font-family: mont_semi_bold;
  font-size: 20px;
  text-align: left;
  color: #bebebe;
}

.menu_bar .container .bar-inner ::-webkit-input-placeholder {
  color: #bebebe;
}

.menu_bar .container .bar-inner :-ms-input-placeholder {
  color: #bebebe;
}

.menu_bar .container .bar-inner ::-ms-input-placeholder {
  color: #bebebe;
}

.menu_bar .container .bar-inner ::placeholder {
  color: #bebebe;
}

.menu_bar .container .bar-inner .search-btn {
  background-color: #3e3e3e;
}

.menu_bar .container .bar-inner .location {
  background-color: #004c99;
}

.introduction {
  background-color: rgba(227, 114, 36, 0.05);
  padding: 60px;
}

.introduction .heading {
  font-family: mont_bold;
  font-size: 32px;
  color: #004c99;
}

.introduction .paragraph {
  font-family: mont_regular;
  font-size: 18px;
  color: #707070;
  text-align: center;
}

.icons {
  background-color: #ffffff;
  padding: 40px 0px;
}

.icons .paragraph {
  font-family: mont_regular;
  font-size: 10px;
  color: #304154;
  text-align: left;
  padding: 10px 0px;
}

.table-items {
  background-color: rgba(227, 114, 36, 0.05);
  padding: 20px 0px;
}

.table-items .container {
  height: 100%;
}

.table-items .container .name {
  font-family: mont_regular;
  font-size: 16px;
  color: #e37224;
  text-align: left;
  margin: auto;
}

.table-items .container .slider {
  -webkit-appearance: none;
  width: 50;
  height: 5px;
  background-color: #e37224;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.table-items .container .slider:hover {
  opacity: 1;
}

.table-items .container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #e37224;
  cursor: pointer;
  border-radius: 50%;
}

.table-items .container .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: #e37224;
  cursor: pointer;
}

.largest-blog {
  background-color: #ffffff;
  padding: 20px 0px;
}

.largest-blog .container .main-left-color {
  background-color: rgba(227, 114, 36, 0.05);
}

.largest-blog .container h1 {
  color: #004c99;
  font-family: mont_semi_bold;
  font-size: 32px;
}

.largest-blog .container .main-img {
  width: 100%;
}

.largest-blog .container .blog-heading {
  color: #ab3535;
  font-family: mont_semi_bold;
  font-size: 23px;
}

.largest-blog .container .blog-text {
  color: #707070;
  font-family: mont_regular;
  font-size: 18px;
}

.largest-blog .container .bottom-part a {
  color: #004c99;
  font-family: mont_regular;
  font-size: 18px;
  float: right;
}

.largest-blog .container .shadowing-left {
  border-radius: 15px;
  -webkit-box-shadow: 0.7rem 1rem 1rem rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0.7rem 1rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.largest-blog .container .video-link {
  padding: 5px;
}

.largest-blog .container .video-link h2 {
  color: #004c99;
  font-family: mont_semi_bold;
  font-size: 32px;
}

.largest-blog .container .video-link img {
  padding: 10px 0px;
}

.largest-blog .container .video-link .paragraph-1 {
  font-size: 16px;
  font-family: mont_regular;
  color: #707070;
}

.largest-blog .container .video-link .paragraph-2 {
  font-size: 16px;
  font-family: mont_semi_bold;
  color: #304154;
}

.largest-blog .container .video-link a {
  font-size: 18px;
  font-family: mont_regular;
  color: #be3b3b;
  margin-left: 5px;
}

.largest-blog .container .all-posts {
  font-size: 18px;
  font-family: mont_regular;
  color: #be3b3b;
}

.main-carousal {
  padding: 30px 0px;
}

.main-carousal .container .card-div {
  border: 1px solid #be3b3b;
  border-radius: 7px;
}

.main-carousal .container .card-div .paragraph-2 {
  font-family: mont_semi_bold;
  font-size: 18px;
  color: #be3b3b;
  padding: 0px;
  margin: 0px;
}

.main-carousal .container .card-div .paragraph-1 {
  font-family: mont_regular;
  font-size: 18px;
  color: #304154;
  padding: 0px;
  margin: 0px;
}

.owl-item.active > div:after {
  content: '';
}

.owl-item.center > div:after {
  content: '';
}

.owl-item.active.center > div:after {
  content: '';
}

.owl-item > div:after {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.active.center {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-filter: grayscale(0);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}

.active {
  -webkit-transform: scale(0.8) !important;
          transform: scale(0.8) !important;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.fas {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fas:hover {
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
  color: #ab3535;
}

.fa-chevron-right {
  color: #3e3e3e;
  padding: 15px;
  position: absolute;
  top: 38.6%;
  font-size: 50px;
  right: -20px;
}

.fa-chevron-left {
  color: #3e3e3e;
  padding: 15px;
  position: absolute;
  top: 38.6%;
  font-size: 50px;
  left: -20px;
}

.footer {
  background-color: #d7b058;
  height: 250px;
}

.footer .container {
  height: 100%;
}

.footer .container .wrapper-inner {
  height: 100%;
}

.footer .container .wrapper-inner .lorem-logo {
  width: 100%;
}

.footer .container .wrapper-inner .copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .wrapper-inner .footer-text {
  color: #304154;
  font-size: 16px;
  font-family: mont_regular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0px;
}
/*# sourceMappingURL=style.css.map */