@font-face {
  font-family: mont_light;
  src: url(../Font/montserrat/Montserrat-Light.otf);
}

@font-face {
  font-family: mont_ultra_light;
  src: url(../Font/montserrat/Montserrat-UltraLight.otf);
}

@font-face {
  font-family: mont_regular;
  src: url(../Font/montserrat/Montserrat-Regular.otf);
}

@font-face {
  font-family: mont_bold;
  src: url(../Font/montserrat/Montserrat-Bold.otf);
}

@font-face {
  font-family: mont_extra_bold;
  src: url(../Font/montserrat/Montserrat-ExtraBold.otf);
}

@font-face {
  font-family: mont_semi_bold;
  src: url(../Font/montserrat/Montserrat-SemiBold.otf);
}

@font-face {
  font-family: mont_black;
  src: url(../Font/montserrat/Montserrat-Black.otf);
}

@font-face {
  font-family: mont_hairline;
  src: url(../Font/montserrat/Montserrat-Hairline.otf);
}

@font-face {
  font-family: mont_thin;
  src: url(../Font/montserrat/Montserrat-Thin.ttf);
}

@font-face {
  font-family: times;
  src: url(../Font/times/times.ttf);
}

* {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.--red {
  color: #ab3535;
}

/******************Header*************************/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.top-main {
  background-color: #d7b058;
  height: 50px;
}

.top-main .container {
  height: 100%;
}

.top-main .container .wrapper-inner {
  height: 100%;
}

.top-main .container .social p {
  font-size: 20px;
  color: #3e3e3e;
  font-family: mont_semi_bold;
  text-transform: uppercase;
}

.top-main .container .social a {
  margin: 0px 5px;
}

.top-main .container .social .donate {
  background-color: #004c99;
  font-family: times;
  color: #ffffff;
  font-size: 24px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 27%;
  border-bottom-right-radius: 27%;
  position: relative;
  top: -5px;
}

.menu_bar {
  background-color: #ab3535;
  height: 80px;
}

.menu_bar .container {
  height: 100%;
}

.menu_bar .container .bar-inner {
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu_bar .container .bar-inner .btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px 5px;
  color: #ffffff;
}

.menu_bar .container .bar-inner .drop-btn {
  font-size: 40px;
  padding: 0px;
}

.menu_bar .container .bar-inner .search-bar {
  background-color: #ffffff;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  font-family: mont_semi_bold;
  font-size: 20px;
  text-align: left;
  color: #bebebe;
}

.menu_bar .container .bar-inner ::-webkit-input-placeholder {
  color: #bebebe;
}

.menu_bar .container .bar-inner :-ms-input-placeholder {
  color: #bebebe;
}

.menu_bar .container .bar-inner ::-ms-input-placeholder {
  color: #bebebe;
}

.menu_bar .container .bar-inner ::placeholder {
  color: #bebebe;
}

.menu_bar .container .bar-inner .search-btn {
  background-color: #3e3e3e;
}

.menu_bar .container .bar-inner .location {
  background-color: #004c99;
}

.introduction {
  background-color: rgba(227, 114, 36, 0.05);
  padding: 60px;
}

.introduction .heading {
  font-family: mont_bold;
  font-size: 32px;
  color: #004c99;
}

.introduction .paragraph {
  font-family: mont_regular;
  font-size: 18px;
  color: #707070;
  text-align: center;
}

.background-white {
  background-color: #ffffff !important;
}

.background-lite {
  background-color: rgba(227, 114, 36, 0.05) !important;
}

.background-lite-red {
  background-color: rgba(171, 53, 53, 0.05) !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.icons {
  background-color: #ffffff;
  padding: 40px 0px;
}

.icons .paragraph {
  font-family: mont_regular;
  font-size: 10px;
  color: #304154;
  text-align: left;
  padding: 10px 0px;
}

.icons a {
  font-family: mont_regular;
  font-size: 12px;
  color: #be3b3b !important;
  text-align: center;
  text-decoration: none;
}

.table-items {
  background-color: rgba(227, 114, 36, 0.05);
  padding: 20px 0px;
}

.table-items .container {
  height: 100%;
}

.table-items .container .name {
  font-family: mont_regular;
  font-size: 16px;
  color: #e37224;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 5px;
}

.table-items .container .heading {
  font-family: mont_bold;
  font-size: 32px;
  color: #004c99;
  padding: 20px 0px;
}

.table-items .container .paragraph {
  font-size: 10px;
  font-family: mont_regular;
  color: #3e3e3e;
  width: 50%;
}

.table-items .container .sub-heading {
  font-size: 13px;
  font-family: mont_regular;
  color: #ab3535;
}

.table-items .container .font-for-mobile {
  font-size: 8px;
}

.table-items .container .visible-on-mobile {
  display: none;
}

.table-items .container .visible-on-desktop {
  display: block;
}

.table-items .container .around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.table-items .container .slider {
  -webkit-appearance: none;
  width: 50;
  height: 5px;
  background-color: #e37224;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.table-items .container .slider:hover {
  opacity: 1;
}

.table-items .container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #e37224;
  cursor: pointer;
  border-radius: 50%;
}

.table-items .container .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: #e37224;
  cursor: pointer;
}

.largest-blog {
  background-color: #ffffff;
  padding: 20px 0px;
}

.largest-blog .container .main-left-color {
  background-color: rgba(227, 114, 36, 0.05);
}

.largest-blog .container h1 {
  color: #004c99;
  font-family: mont_semi_bold;
  font-size: 32px;
}

.largest-blog .container .main-img {
  width: 100%;
}

.largest-blog .container .blog-heading {
  color: #ab3535;
  font-family: mont_semi_bold;
  font-size: 23px;
}

.largest-blog .container .blog-text {
  color: #707070;
  font-family: mont_regular;
  font-size: 18px;
}

.largest-blog .container .bottom-part a {
  color: #004c99;
  font-family: mont_regular;
  font-size: 18px;
  float: right;
  text-decoration: none;
}

.largest-blog .container .shadowing-left {
  border-radius: 15px;
  -webkit-box-shadow: 0.7rem 1rem 1rem rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0.7rem 1rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.largest-blog .container .video-link {
  padding: 5px;
}

.largest-blog .container .video-link h2 {
  color: #004c99;
  font-family: mont_semi_bold;
  font-size: 32px;
}

.largest-blog .container .video-link img {
  padding: 10px 0px;
}

.largest-blog .container .video-link .paragraph-1 {
  font-size: 16px;
  font-family: mont_regular;
  color: #707070;
}

.largest-blog .container .video-link .paragraph-2 {
  font-size: 16px;
  font-family: mont_semi_bold;
  color: #304154;
}

.largest-blog .container .video-link a {
  font-size: 18px;
  font-family: mont_regular;
  color: #be3b3b;
  margin-left: 5px;
}

.largest-blog .container .all-posts {
  font-size: 18px;
  font-family: mont_regular;
  color: #be3b3b;
}

.main-carousal {
  padding-top: 50px;
}

.main-carousal .container .card-div {
  border: 1px solid #be3b3b;
  border-radius: 7px;
  width: 95%;
  margin: auto;
}

.main-carousal .container .card-div .paragraph-2 {
  font-family: mont_semi_bold;
  font-size: 18px;
  color: #be3b3b;
  padding: 0px;
  margin: 0px;
}

.main-carousal .container .card-div .paragraph-1 {
  font-family: mont_regular;
  font-size: 18px;
  color: #304154;
  padding: 0px;
  margin: 0px;
}

.main-carousal .container .fa-chevron-right {
  color: #3e3e3e;
  padding: 15px;
  position: absolute;
  font-size: 50px;
  top: 38.6%;
  right: -15px;
}

.main-carousal .container .fa-chevron-left {
  color: #3e3e3e;
  padding: 15px;
  position: absolute;
  font-size: 50px;
  top: 38.6%;
  left: -15px;
}

.main-carousal .container .active {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(0.8) !important;
          transform: scale(0.8) !important;
  opacity: 0.8 !important;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.main-carousal .container .center {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-filter: none !important;
  /* Safari 6.0 - 9.0 */
  filter: none !important;
  opacity: 1 !important;
}

.modal-content {
  background-color: #e9f0f8;
  margin: auto;
  width: 70%;
}

.modal-content ul {
  list-style: none;
  padding: 15px 0px;
  margin: 0px;
}

.modal-content ul li {
  text-align: center;
}

.modal-content .options {
  font-family: mont_semi_bold;
  font-size: 18px;
  color: #004c99;
  text-align: center;
}

.add-reviews {
  background-color: rgba(190, 190, 190, 0.08);
  padding: 30px 0px;
}

.add-reviews .container .heading {
  font-family: mont_bold;
  font-size: 32px;
  color: #004c99;
}

.add-reviews .container .sub-paragraph {
  font-family: mont_regular;
  font-size: 14px;
  color: #3e3e3e;
}

.add-reviews .container .colum-heading {
  font-family: mont_regular;
  font-size: 18px;
  color: #3e3e3e;
}

.add-reviews .container .button-wrapper button {
  background-color: #004c99;
  color: #ffffff;
  font-family: mont_regular;
  font-size: 18px;
  padding: 10px;
}

.add-reviews .container .button-wrapper button img {
  margin-right: 5px;
}

.add-reviews .container .form-data {
  padding: 15px 0px;
}

.add-reviews .container .form-data .name {
  font-family: mont_regular;
  font-size: 14px;
  color: #bebebe;
}

.add-reviews .container .form-data .name-field {
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 2px 8px 1px #bebebe;
  box-shadow: 1px 2px 8px 1px #bebebe;
  font-family: mont_regular;
  font-size: 14px;
  color: #bebebe;
  text-align: left;
}

.add-reviews .container .padding-form {
  padding: 0px 60px;
}

.add-reviews .container .iam-not-robort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #3e3e3e;
  padding: 20px 0px;
  width: 35%;
}

.add-reviews .container .iam-not-robort input {
  width: 30px;
  height: 40px;
  background-color: #ffffff;
}

.add-reviews .container .iam-not-robort p,
.add-reviews .container .iam-not-robort img,
.add-reviews .container .iam-not-robort input {
  margin: auto;
}

.add-reviews .container .from-input {
  width: 30px;
  height: 40px;
  background-color: #ffffff;
  background-color: #a77e2d !important;
  color: #ffffff !important;
}

.add-reviews .container .form-color {
  color: #bebebe;
}

.average-for-hospitals {
  background-color: #ffffff;
  padding: 30px 0px;
}

.average-for-hospitals .container .heading {
  font-family: mont_bold;
  font-size: 14px;
  color: #3e3e3e;
  text-transform: uppercase;
}

.average-for-hospitals .container .paragraph {
  font-family: mont_regular;
  font-size: 10px;
  color: #3e3e3e;
  width: 60%;
  margin: 20px auto;
}

.average-for-hospitals .container a {
  font-family: mont_regular;
  font-size: 14px;
  color: #be3b3b;
}

.average-for-hospitals .container .col-heading {
  font-family: mont_regular;
  font-size: 14px;
  color: #3e3e3e;
  margin: auto 0px;
}

.average-for-hospitals .container .slider {
  -webkit-appearance: none;
  width: 50;
  height: 5px;
  background-color: #e37224;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.average-for-hospitals .container .slider:hover {
  opacity: 1;
}

.average-for-hospitals .container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #e37224;
  cursor: pointer;
  border-radius: 50%;
}

.average-for-hospitals .container .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: #e37224;
  cursor: pointer;
}

.search-result .left-side {
  padding: 20px;
}

.search-result .left-side h2 {
  font-family: mont_semi_bold;
  font-size: 24px;
  color: #000000;
}

.search-result .left-side .blue {
  color: #004c99 !important;
}

.search-result .left-side p {
  font-family: mont_semi_bold;
  font-size: 16px;
  color: #000000;
}

.search-result .left-side .w-88 {
  width: 88%;
}

.search-result .left-side .w-80 {
  width: 80%;
}

.search-result .left-side .button-wrapper button {
  background-color: #004c99;
  color: #ffffff;
  font-family: mont_regular;
  font-size: 18px;
  padding: 10px;
}

.search-result .left-side .button-wrapper button img {
  margin-right: 5px;
}

.search-result .left-side .stars {
  text-align: center;
}

.search-result .left-side .stars .bold {
  font-family: mont_bold;
}

.search-result .left-side .stars p {
  font-family: mont_light;
  font-size: 10px;
  margin: 0px;
  color: #000000;
}

.search-result .left-side .bottom-part {
  padding: 0px 40px;
  padding-top: 28px;
  margin: auto 0px;
}

.search-result .left-side .bottom-part .bottom-stars {
  margin-top: 20px;
}

.search-result .left-side .bottom-part .bottom-stars .large-star {
  width: 25px;
}

.search-result .left-side .bottom-part .icon-imgs {
  width: 50%;
  margin: auto;
}

.search-result .left-side .bottom-part .bold-h {
  font-family: mont_bold;
  font-size: 11px;
  color: #000000;
}

.search-result .left-side .bottom-part .paragraph {
  font-family: mont_light;
  font-size: 10px;
  color: #000000;
}

.search-result .left-side .common-height {
  min-height: 88px;
}

.search-result .owl-nav {
  text-align: center;
  margin-bottom: 15px;
}

.search-result .fa-chevron-right {
  border: 1px solid;
  border-radius: 50%;
  width: 43px;
  height: 40px;
  font-size: 25px;
  margin: auto 5px;
  padding: 6px;
  padding-left: 11px;
}

.search-result .fa-chevron-left {
  border: 1px solid;
  border-radius: 50%;
  width: 43px;
  height: 40px;
  font-size: 25px;
  margin: auto 5px;
  padding: 6px;
  padding-right: 11px;
}

.search-result .bottom-border-line {
  border-bottom: 2px solid #bebebe;
}

.search-result .bottom-text {
  font-family: mont_regular;
  font-size: 18px;
  color: #000000;
  margin: 50px auto;
  text-align: center;
}

.search-result .grey-text {
  color: #707070 !important;
}

.review {
  background-color: rgba(190, 190, 190, 0.08);
  padding: 30px 0px;
}

.review .container h1 {
  font-family: mont_bold;
  font-size: 32px;
  color: #004c99;
  text-align: center;
}

.review .container .add-r {
  font-family: mont_regular;
  font-size: 18px;
  color: #ab3535;
  text-decoration: none;
  margin-left: auto;
}

.review .container .add-r img {
  margin-right: 5px;
}

.review .container .rating {
  background-color: #ffffff;
  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
  margin: 40px auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.review .container .rating .adjust-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* align horizontal */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* align vertical */
  height: 100%;
}

.review .container .rating .vl {
  border-left: 3px solid #bebebe;
  height: 200px;
}

.review .container .rating .left-rating {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.review .container .rating .left-rating h1 {
  font-family: mont_regular;
  font-size: 50px;
  color: #ab3535;
  margin: 0px;
}

.review .container .rating .left-rating p {
  font-family: mont_regular;
  font-size: 25px;
  color: #ab3535;
  margin: 0px;
  width: 98%;
}

.review .container .rating .right-rating .service-rating {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.review .container .rating .right-rating p {
  font-family: mont_regular;
  font-size: 18px;
  color: #000000;
}

.review .container .rating .right-rating .container {
  width: 115px;
  height: 6px;
  border: 1px solid #3e3e3e;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin-top: 5px;
}

.review .container .rating .right-rating .container .bar {
  width: 90px;
  background-color: #4CAF50;
  height: 4px;
  border: 1px solid #4CAF50;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: relative;
  left: -15px;
}

.review .container .helpful-review .heading {
  font-family: mont_regular;
  font-size: 14px;
  color: #3e3e3e;
  margin: 0px;
  margin-left: 15px;
}

.review .container .helpful-review .bottom-of-heading {
  font-family: mont_regular;
  font-size: 8px;
  color: #bebebe;
  margin: 0px;
  margin-left: 15px;
}

.review .container .helpful-review .help-btn {
  background-color: #004c99;
  color: #ffffff;
  font-family: mont_regular;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review .container .helpful-review .help-btn img {
  margin-right: 5px;
}

.emergency-plans {
  background-color: rgba(227, 114, 36, 0.05);
  padding: 40px 0px;
}

.emergency-plans .container h2 {
  font-family: mont_bold;
  font-size: 24px;
  color: #004c99;
  text-align: left;
}

.emergency-plans .container .center-parent {
  width: 50%;
  text-align: center;
  margin: 30px auto;
  padding: 0px 30px;
  padding-bottom: 20px;
}

.emergency-plans .container .center-parent .center-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
}

.emergency-plans .container .center-parent .center-part img {
  margin-right: auto;
}

.emergency-plans .container .center-parent .center-part .date-h {
  font-family: mont_regular;
  font-size: 14px;
  color: #bebebe;
  margin: auto;
  margin-top: 10px;
  margin-right: 5px;
}

.emergency-plans .container .center-parent .center-part .date-input {
  border: none;
  border-bottom: 1px solid #3e3e3e;
  height: 25px;
  padding: 0px 10px;
}

.emergency-plans .container .center-parent .text-data {
  width: 100%;
  height: 180px;
  border: 1px solid #bebebe;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.emergency-plans .container .center-parent .text-data p {
  font-family: mont_bold;
  font-size: 14px;
  color: #3e3e3e;
  text-align: left;
}

.emergency-plans .container .center-parent .text-data .input-field {
  border-left: none;
  border-right: none;
  border-top: none;
  width: 100%;
}

.emergency-plans .container .bottom-heading {
  color: #3e3e3e;
  font-family: mont_regular;
  text-align: left;
  margin-bottom: 30px;
}

.emergency-plans .container .bottom-paragraph {
  font-family: mont_regular;
  font-size: 20px;
  color: #3e3e3e;
  text-align: left;
  margin: 0px;
}

.noteandsource {
  background-color: #ffffff;
  padding: 40px 0px;
}

.noteandsource .container h2 {
  font-family: mont_semi_bold;
  font-size: 24px;
  color: #004c99;
  text-align: left;
}

.noteandsource .container p {
  font-family: mont_regular;
  font-size: 20px;
  color: #bebebe;
  text-align: left;
  margin: 25px 0px;
}

.footer {
  background-color: #d7b058;
  height: 250px;
}

.footer .container {
  height: 100%;
}

.footer .container .wrapper-inner {
  height: 100%;
}

.footer .container .wrapper-inner .lorem-logo {
  width: 100%;
}

.footer .container .wrapper-inner .copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .wrapper-inner .footer-text {
  color: #304154;
  font-size: 16px;
  font-family: mont_regular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0px;
}
/*# sourceMappingURL=style.css.map */