// Main Colors class
$colors: (
  pro_yellow : #D7B058,
  pro_red : #AB3535,
  pro_light_red : #BE3B3B,
  pro_blue : #004C99,
  pro_dark : #3E3E3E,
  pro_white : #FFFFFF,
  pro_orange :#E37224,
  pro_dark_orange : #C73D28,
  pro_off_white : #F0F0F0,
  pro_serach_bar : #E9F0F8,
  pro_grey_text : #BEBEBE,
  pro_intro_text: #707070,
  pro_serach_btn : #304154,
  pro_text_bg : #EEEEEE
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
// Main Colors end

// Font Sizes

$font_sizes: (
  32: 32px,
  24: 24px,
  23: 23px,
  20: 20px,
  18: 18px,
  16: 16px,
  13: 13px,
  10: 10px

);

// Some General Functions


//End General functions

@function font-size($size) {
  @return map-get($font_sizes, $size);
}
//

// Font
@font-face {
  font-family: mont_light;
  src: url(../Font/montserrat/Montserrat-Light.otf);
}
@font-face {
  font-family: mont_ultra_light;
  src: url(../Font/montserrat/Montserrat-UltraLight.otf);
}
@font-face {
  font-family: mont_regular;
  src: url(../Font/montserrat/Montserrat-Regular.otf);
}
@font-face {
  font-family: mont_bold;
  src: url(../Font/montserrat/Montserrat-Bold.otf);
}
@font-face {
  font-family: mont_extra_bold;
  src: url(../Font/montserrat/Montserrat-ExtraBold.otf);
}
@font-face {
  font-family: mont_semi_bold;
  src: url(../Font/montserrat/Montserrat-SemiBold.otf);
}
@font-face {
  font-family: mont_black;
  src: url(../Font/montserrat/Montserrat-Black.otf);
}
@font-face {
  font-family: mont_hairline;
  src: url(../Font/montserrat/Montserrat-Hairline.otf);
}
@font-face {
  font-family: mont_thin;
  src: url(../Font/montserrat/Montserrat-Thin.ttf);
}
@font-face {
  font-family: times;
  src: url(../Font/times/times.ttf);
}
// Font end

//Home Page Styling
//-----------------------

*{
  box-shadow: none;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.top-main{
  background-color: color(pro_yellow);
  height: 50px;
  .container{
    height: 100%;
    .wrapper-inner{
      height: 100%;
    }
    .social{
      p{
        font-size: font-size(20);
        color: color(pro_dark);
        font-family: mont_semi_bold;
        text-transform: uppercase;
      }
      a{
        margin: 0px 5px;
      }
      .donate{
        background-color: color(pro_blue);
        font-family: times;
        color: color(pro_white);
        font-size: font-size(24);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 27%;
        border-bottom-right-radius: 27%;
        position: relative;
        top: -5px;
      }
    }
  }

}

.menu_bar{
  background-color: color(pro_red);
  height: 80px;
  .container{
    height: 100%;
    .bar-inner{
      height: 100%;

      justify-content: space-evenly;
      flex-wrap: wrap;
      .btn{
        flex-grow: 1;
        margin: 0px 5px;
        color:color(pro_white) ;
      }
      .drop-btn{
        font-size: 40px;
        padding: 0px;
      }
      .search-bar{
        background-color: color(pro_white);
        flex-grow: 10;
        font-family: mont_semi_bold;
        font-size: font-size(20);
        text-align: left;
        color: color(pro_grey_text);
      }
      ::placeholder{
        color: color(pro_grey_text);
        
      }
      .search-btn{
        background-color: color(pro_dark); 
      }
      .location{
        background-color: color(pro_blue);
      }
      
    }
  }

}
.introduction{
  background-color: rgba($color:color(pro_orange), $alpha: 0.05);;
  padding: 60px;
  .heading{
    font-family: mont_bold;
    font-size: font-size(32);
    color: color(pro_blue);
  }
  .paragraph{
    font-family: mont_regular;
    font-size: font-size(18);
    color: color(pro_intro_text);
    text-align: center;
  }
}

.icons{
  background-color: color(pro_white);
  padding: 40px 0px;
  .paragraph{
    font-family: mont_regular;
    font-size: font-size(10);
    color: color(pro_serach_btn);
    text-align: left;
    padding: 10px 0px;
  }
}
.tables-items{
  background-color: rgba($color:color(pro_orange), $alpha: 0.05);
  padding: 20px 0px;
    .name{
      font-family: mont_regular;
      font-size: font-size(16);
      color: color(pro_orange);
      text-align: left;
    }
    .input-value{
      width: auto;
    }
}

.footer{
  background-color: color(pro_yellow);
  height: 250px;
  .container{
    height: 100%;
    .wrapper-inner{
      height: 100%;
      .lorem-logo{
        width: 100%;
      }
      .copy-right{
        display: flex;
        .c-logo{
        }
      }
      .footer-text{
        color: color(pro_serach_btn);
        font-size: font-size(16);
        font-family: mont_regular;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0px;
      }
    }
  }
}


